* {
  padding:0;
  margin: 0;
}

#container{
  margin: 0 auto;
  width: 80%;
  background: gray;
  padding: 5%
}

#container h1{
  text-align: center;
  color: white;
}

.qzButton {
  width: 100%;
  padding: 50px;
}

.qzContainer{
  margin: 50px 0;
  width: 100%;
  /* border: 1px solid black; */
  background: white;
}

.quiz-title{
  font-family: openSans;
  text-align: center;
  padding: 20px;
  font-size: 26px;
}

.quiz-ques-container{
  padding: 25px;
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box;
  width: 80%;
  float: left;
}

.quiz-question{
  font-size: 26px;
  padding: 15px;
  background: #0066cc;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.quiz-options{
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background: #ccddee;
}

.quiz-options:hover{
  background: #c1d2e3;
}

.quiz-options input{
  margin-left: 10px;
}

.quiz-options span{
  margin-left: 10px;
}

.quiz-options:hover{
  cursor: pointer;
}

.quiz-score{
  font-size: 30px;
  padding: 30px;
  color: green;
}

#jsQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #2233ff;
  color: white;
  font-size: 18px;
  border: none;
}

#htmlQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #22ff33;
  color: white;
  font-size: 18px;
  border: none;
}

#cssQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #dd2233;
  color: white;
  font-size: 18px;
  border: none;
}

.quiz-ques-container input[type="button"]:hover {
  cursor: pointer;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
}

.side-bar-container{
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding: 25px;
  max-height: 400px;
  overflow: auto;
}

.side-bar-container p{
  padding: 10px;
  background: #663333;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  border-radius: 8px;
}

.side-bar li{
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  background: #bb9999;
  color: white;
  margin: 5px 0;
  border-radius: 8px;
}

.side-bar li:hover{
  cursor: pointer;
  background: #b59393;
}