* {
  padding:0;
  margin: 0;
}

#container{
  margin: 0 auto;
  width: 80%;
  background: gray;
  padding: 5%
}

#container h1{
  text-align: center;
  color: white;
}

.qzButton {
  width: 100%;
  padding: 50px;
}

.qzContainer{
  margin: 50px 0;
  width: 100%;
  /* border: 1px solid black; */
  background: white;
}

.quiz-title{
  font-family: openSans;
  text-align: center;
  padding: 20px;
  font-size: 26px;
}

.quiz-ques-container{
  padding: 25px;
}

.quiz-question{
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.quiz-options{
  font-size: 20px;
  padding-left: 10px;
}

.quiz-options:hover{
  cursor: pointer;
}

.quiz-score{
  font-size: 30px;
  padding: 30px;
  color: green;
}

#jsQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #2233ff;
  color: white;
  font-size: 18px;
  border: none;
}

#htmlQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #22ff33;
  color: white;
  font-size: 18px;
  border: none;
}

#cssQzContainer .quiz-ques-container input[type="button"]{
  margin-top: 100px;
  margin-right: 50px;
  padding: 10px 40px;
  background: #dd2233;
  color: white;
  font-size: 18px;
  border: none;
}

.quiz-ques-container input[type="button"]:hover {
  cursor: pointer;
}