<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JS | HTML | CSS Quiz App</title>
    <!-- Add viewport for multi-device experiences -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

    {{{body}}}

</body>
</html>