<div id="container">
    <h1>JS|HTML|CSS Quiz Application</h1>
    <section id="jsQzContainer" class="qzContainer">
        <input type="button" value="Start JS Quiz" class="qzButton">
    </section>
    <section id="htmlQzContainer" class="qzContainer">
        <input type="button" value="Start HTML Quiz" class="qzButton">
    </section>
    <section id="cssQzContainer" class="qzContainer">
        <input type="button" value="Start CSS Quiz" class="qzButton">
    </section>
    <script src="javascripts/index.js"></script>
    <script src="javascripts/quizUtils.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="json/js_quiz_config.js"></script>
    <script src="json/html_quiz_config.js"></script>
    <script src="json/css_quiz_config.js"></script>
    <script src="javascripts/quiz.js"></script>
    <script src="javascripts/myIndex.js"></script>
</div>
